body{
    font-family:Cursive,Lucida handwriting;
    margin: 0%;
    background-color: rgba(49, 46, 40, 0.541);
    padding: 20px;
}
*{
    box-sizing: border-box;
 }
 .row::after{
     content: '';
     display: table;
     clear: both;
 }
h1{
    background-color: rgba(202, 192, 192, 0.671);
    font-size: 1in;
    padding: 30px;
}
header h2{
    text-align: center;
    font-size: 60px;
    color:black;
    margin:1.5 0px;

}
h5{
    color:maroon;
    margin:1.5 0px;
}
.left-column{
    float: left;
    width: 55%;
}
.right-column{
    width:45%;
    float: right;
    padding-left:20px;
}
.card {
    padding: 20px;
    background-color: rgba(49, 46, 40, 0.541);
    margin-top:20px ;
}
.card img{
    width: 100%;
}
.right-column .card img{
    margin-bottom: 10px;
}
footer{
    background-color: rgba(202, 192, 192, 0.671);
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}
@media(max-width:800px)
{
    .left-column,.right-column{
        width:100px;
        padding:0px;
    }
}
/* Add a black background color to the top navigation */
.top {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .top a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .top a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .top a.h{
    background-color:darkcyan;
    color: white;
  }